[Desktop Entry]
Name=nethack
Comment=An adventure into the Mazes of Menace
Comment[pl]=Przygoda w Labiryntach Groźby
Icon=nethack.png
Exec=/usr/games/nethack
Terminal=0
Type=Application
# vi: encoding=utf-8
