[Desktop Entry]
Name=Nethack
Name[ar]=نت هاك
Name[eo]=Rethako
Name[lv]=TīklaHacks
Name[ven]=Vhukwamani ho Netaho
Comment=An adventure into the Mazes of Menace
Comment[pl]=Przygoda w Labiryntach Groźby
Icon=nethack.png
Exec=/usr/games/nethack
Terminal=0
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
